#                                                Day-2 Assignment

Submitted By

Tuhin Shuvra Mondal
Departmet of EEE('20 Batch)
Student ID: 2002231
IEEE Membership ID: 



# About Data Types

	**** What is data type?

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.


	**** Describe all Data Types with example.

There are various data types in Python. Some of the important types are listed below.

  **Python Numbers

Integers, floating point numbers and complex numbers fall under Python numbers category. They are defined as int, float and complex classes in Python.
We can use the type() function to know which class a variable or a value belongs to. Similarly, the isinstance() function is used to check if an object belongs to a particular class.

 Example:

In [1]:
t = 5
s = 3.1
m = 2 + 3j
print(t, type(t))
print(s, type(s))
print(m, type(m))

5 <class 'int'>
3.1 <class 'float'>
(2+3j) <class 'complex'>

  **Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.
Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets[ ].

 Example:

In [2]:
x = [2,4,7,9,14,19,23]
print(x)

[2, 4, 7, 9, 14, 19, 23]

We can use slicing operator [] to extract an item or a range of items from a list. The index starts from 0 in Python.

In [4]:
x = [2,4,7,9,14,19,23]
print(x[1])    #one item
print(x[4])     #a range of items

4
14

  **Python Tuple

Tuple is an ordered sequence of items same as a list. The only difference is that tuples are immutable. Tuples once created cannot be modified.

Tuples are used to write-protect data and are usually faster than lists as they cannot change dynamically.
It is defined within parentheses () where items are separated by commas. So, we can use slicing operator to extract items but we cannot change it.

Example:

In [5]:
x = (1, 4, 7, 5.2, 2+3j)
print(x)

(1, 4, 7, 5.2, (2+3j))

In [6]:
x = (1, 4, 7, 5.2, 2+3j)
print(x[3])       #slicing operator in tuple

5.2

  **Python Strings

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """. Strings are immutable.

Example:

In [8]:
a = "I am ejoying coding"         #single line string
a1 = '''Thank you, IEEE
for arranging the Python course'''        #multiline string
print(a)
print(a1)

I am ejoying coding
Thank you, IEEE
for arranging the Python course

  **Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.
Sets have unique values. They eliminate duplicates.

Examples:

In [10]:
p = {2,6,8,9,13,45,9,12,18,45,10.5,100}
print(p)

{2, 100, 6, 8, 9, 10.5, 12, 13, 45, 18}

  **Python Dictionary

Dictionary is an unordered collection of key-value pairs.

It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.
In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

Example:

In [25]:
d = {
    1: "tuhin",
    2: "shuvra",
    3: "mondal"
}
print(d)

print(d[1])

{1: 'tuhin', 2: 'shuvra', 3: 'mondal'}
tuhin

# Input and Output

  **** Explain each parameter of print(*objects,sep='',end='\n', file=sys.stdout,flush=Flase)
  
  
  **Print() Parameters:
  
objects - object to the printed. * indicates that there may be more than one object

sep - objects are separated by sep. Default value: ' '

end - end is printed at last

file - must be an object with write(string) method. If omitted it, sys.stdout will be used which prints objects on the screen.

flush - If True, the stream is forcibly flushed. Default value: False

# Operator

  ****What is a Pythion Operator? Describe at least three types of operator.
  
Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand. 

There are a few types of operators. Some of then are described below.

  1. Arithmetic operators

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

Example:

In [27]:
p = 10
q = 20
print(p+q)  #Here '+' is a arithmetic operator.
print(p/q)  #Here '/' is a arithmetic operator.

30
0.5

  2. Comparison operators
  
Comparison operators are used to compare values. It returns either True or False according to the condition. There are mainly six types of comparison operators. They are-

1.Greater than(>),  2.Less than(<),  3.Equal to(==),  4.Not equal to(!=),
5.Greater than or Equal to(>=),  6. Less than or Equal to(<=).

Example:

In [32]:
a = 25
b = 35
c = 10
print(a>b)
print(a>c)

False
True

  3. Assignment operators
  
Assignment operators are used in Python to assign values to variables.

Such as a = 10 is a simple assignment operator that assigns the value 10 on the right to the variable a on the left.

There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same. It is equivalent to a = a + 5.

Example:

In [37]:
d = 12
d += 8 #we want to get d=20
print(d)

20

# Problem 1

  **** Define a list with 7 elements and print the 3rd element of the list.
  
  Solution:

In [39]:
l = [ 1, 6, 11, 9, 13, 23, 3.6]
print(l[2])

11

# Problem 2

  **** Take two input (say a and b) from user and print three lines where:
  
   1. The first line contains the sum of the two numbers.
   2. The 2nd line contains the difference of the two numbers            (first - second).
   3. the third line contains the product of the two numbers.
  
  Solution:

In [40]:
a = 3
b = 5
print(a + b)         #Ans-1
print(a - b)         #Ans-2
print(a*b)           #Ans-3

8
-2
15

# Pronlem 3

  **** Take two inputs (say a and b) from the user and logic to print two lines. The first line should contain the result of integer division. The second line should contain the result of float division.

Solution:

In [42]:
a = 3
b = 5
print(a/b)

0.6

# Problem 4

  **** Write a Python program to display the first and last colours from the following list of colour_list = ["Red", "Green", "White", "Black"].
  
  Solution:

In [44]:
Colour = ["Red", "Green", "White", "Black"]

print(Colour[0], Colour[3])

Red Black

# Problem 5

  **** Write a Python program to print the following
  
  Solution:

# problem 6

  **** Write a program that will accept the base and height of atriangle and compute the area.
  
  Solution:

In [43]:
b = 6     #Base
h = 10    #Height
area = b*h/2
print(area)

30.0

# problem 7

  **** Write a program to display your details like name, age, address in three different lines.

In [78]:
print("Name: Tuhin Shuvra Mondal")
print("Age: 20")
print("AAddress:- Village: Kultia, Post: Mashiahati, Upozela: Manirumpur, District: Jashore, Divisoin: Khulna")

Name: Tuhin Shuvra Mondal
Age: 20
AAddress:- Village: Kultia, Post: Mashiahati, Upozela: Manirumpur, District: Jashore, Divisoin: Khulna

# problem 8

  **** Python program for compound interest.
  
  solution:

In [74]:
P = 20000
R = 5.5
t = 8

A = P * (pow((1 + R/100),t))
CI = A - P

print(A)
print(CI)

30693.730299923052
10693.730299923052

# problem 9
  
  **** Printing output as given(stars).

Solution:

In [76]:
print("* * * * *")
print(" * * * *")
print("  * * *")
print("   * *")
print("    *")

* * * * *
 * * * *
  * * *
   * *
    *

# problem 10

  **** Python programme to convert Celsius to Fahrenheit.
  
  Solution:

In [45]:
C = 97                    #Celcious
F = (C*9/2) + 32          #Fahrenheit
print(F)

468.5